@font-face {
  font-family: "Friz Quadrata";
  src: url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.woff2")
    format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Friz Quadrata";
  font-weight: bold;
  background-color: #fbf0e1;
}

/* Navbar */
nav {
  display: flex;
  background-color: #a6192e;
  color: #fbf0e1;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 23em;
  justify-content: space-between;
}

nav ul li a {
  font-size: 20px;
  color: #fbf0e1;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  color: #d9b48f;
  transition: 0.3s;
}

nav .logo a {
  text-decoration: none;
  color: #fbf0e1;
  font-size: 22px;
  letter-spacing: 1px;
}

.recipe-dropdown {
  position: relative;
}

.recipe-dropdown ul {
  background-color: #a6192e;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  height: 130px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.recipe-dropdown ul li {
  width: 90%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-dropdown ul li:hover {
  border-radius: 15px;
  border: 2px solid;
}

nav ul li a:focus-within ~ .recipe-dropdown ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
/* Hamburger Menu */
.menu_toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu_toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu_toggle span {
  display: block;
  align-content: center;
  width: 25px;
  height: 3px;
  background-color: #fbf0e1;
  border-radius: 3px;
  transition: all 0.3s;
}

/* Hamburger Menu Animation */
.menu_toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu_toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu_toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-3px, 0px);
  background-color: #d9b48f;
}

.menu_toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-3px, 0px);
  background-color: #d9b48f;
}

.menu_toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* Dropdown Menu */

div.dropdown ul {
  position: absolute;
  list-style: none;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding: 25px 45.5px;
  background-color: #a6192e;
  display: none;
}

div.dropdown ul li {
  padding: 10px;
  background-color: #a6192e;
  color: #d9b48f;
  cursor: pointer;
  transition: all 0.3s;
}

div.dropdown ul li a {
  font-size: 18px;
}

/* Responsive Breakpoint */

/* tablet size */
@media screen and (max-width: 767px) {
  nav ul {
    width: 50%;
  }
}

/* mobile size */
@media screen and (max-width: 479px) {
  .menu_toggle {
    display: flex;
  }

  nav ul {
    display: none;
  }

  nav {
    justify-content: space-evenly;
  }

  .menu_toggle input:checked ~ div.dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Recipes pages */

div.recipe_ingredients {
  padding: 10px 10px;
}

div.recipe_ingredients h2 {
  padding-bottom: 10px;
}

div.recipe_ingredients h4 {
  padding-bottom: 5px;
}

div.recipe_ingredients ul {
  padding: 0px 30px;
  padding-bottom: 5px;
  list-style: inherit;
}

div.recipe_ingredients ol {
  padding: 0px 30px;
  padding-bottom: 5px;
  list-style: numeric;
}

div.recipe_ingredients ol li {
  padding: 2px 0px;
}
